################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Ignore bin and obj folders
bin/
obj/

# Ignore build artifacts
*.dll
*.exe
*.pdb
*.cache
*.log

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore publish output
publish/

# Visual Studo 2015 cache/options directory
.vs/
/Desafio-BackEnd/Desafio-BackEnd/uploads
/src/Challenge.BackEnd.Presentation.API/uploads
