################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FN.Store/.vs/FN.Store/v15/Server/sqlite3
/Desafio-BackEnd/.vs/Desafio-BackEnd/CopilotIndices
/Desafio-BackEnd/.vs/Desafio-BackEnd/DesignTimeBuild
/Desafio-BackEnd/.vs/Desafio-BackEnd/v17
/Desafio-BackEnd/.vs/ProjectEvaluation
/Desafio-BackEnd/Desafio-BackEnd/bin/Debug/net8.0
/Desafio-BackEnd/Desafio-BackEnd/obj
/Desafio-BackEnd/Desafio-BackEnd.Domain/bin/Debug/net8.0
/Desafio-BackEnd/Desafio-BackEnd.Domain/obj
/Desafio-BackEnd/Desafio-BackEnd.Services/bin/Debug/net8.0
/Desafio-BackEnd/Desafio-BackEnd.Services/obj/Debug/net8.0
/Desafio-BackEnd/Desafio-BackEnd.Services/obj
/Desafio-BackEnd/.vs/Desafio-BackEnd/FileContentIndex
/Desafio-BackEnd/.vs/Desafio-BackEnd/copilot-chat/df13de6e/sessions
/Desafio-BackEnd/Desafio-BackEnd/uploads
/Desafio-BackEnd/Desafio-BackEnd.Data/bin/Debug/net8.0
/Desafio-BackEnd/Desafio-BackEnd.Data/obj
