################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FN.Store/.vs/FN.Store/v15/Server/sqlite3
/Desafio-BackEnd/.vs/Desafio-BackEnd/CopilotIndices
/Desafio-BackEnd/.vs/Desafio-BackEnd/DesignTimeBuild
/Desafio-BackEnd/.vs/Desafio-BackEnd/v17
/Desafio-BackEnd/.vs/ProjectEvaluation
